<nav id="navbar-div" class="py-4">
  <div class="d-flex justify-content-center">
    <span><a class="general-buttons m-2" href="#">Home</a></span>
    <span><a class="general-buttons m-2" href="#">About</a></span>
    <span><a class="general-buttons m-2" href="#">Wallet</a></span>
  </div>
</nav>