<nav id="navbar-div">
  <div class="d-flex justify-content-center">
    <span><a href="#">Home</a></span>
    <span><a href="#">About</a></span>
    <span><a href="#">Wallet</a></span>
  </div>
</nav>