<nav id="navbar-div" class="py-4">
  <div class="d-flex justify-content-center">
    <span><%= link_to "Home", root_path, class: "general-buttons m-2" %></span>
    <span><a class="general-buttons m-2" href="#">About</a></span>
    <span><%= link_to "Wallet", main_page_wallets_path, class: "general-buttons m-2" %></span>
  </div>
</nav>