<div class="container-fluid p-0" id="home-page-wrapper">
  <%=render "shared/navbar" %>
  <div class="home-page-button-div d-flex justify-content-center align-items-center">
    <div>
      <span class="m-3"><%=link_to "About Us", about_path, class: "general-buttons" %></span>
      <span class="m-3"><%= link_to "Get Started", main_page_wallets_path, class: "general-buttons"%></span>
    </div>
  </div>
</div>