#home-page-wrapper{
  background: linear-gradient(rgba(3, 71, 102, 0.3), rgba(3, 71, 102, 0.5)),
  image-url("homepage-background.gif") center/cover no-repeat fixed;
  height: 100vh;
}

.home-page-button-div{
  height: 100%;
}

.home-page-buttons{
  padding: 10px;
  background: #052e44;
  border: 2px solid #1a6c9b;
  border-radius: 20px;
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.home-page-buttons:hover{
  text-decoration: none;
  color: white;
  background: #052e442f;

}