#home-page-wrapper{
  background: linear-gradient(rgba(3, 71, 102, 0.3), rgba(3, 71, 102, 0.5)),
  image-url("homepage-background.gif") center/cover no-repeat fixed;
  height: 100vh;
}

.home-page-button-div{
  height: 80%;
}
